<%= link_to souvenir_path(@souvenir) do %>
  <div class="souvenir-card animated rotateInUp<%= ['Left', 'Right'].sample %> bg-white %>">
    <div class="souvenir-card__top">
      <% if @souvenir.photo.attached? %>
        <%= cl_image_tag @souvenir.photo.key, class: 'index-souvenir-card__top__photo' %>
      <% else %>
        <%= image_tag 'https://www.outokummunseutu.fi/components/com_easyblog/themes/wireframe/images/placeholder-image.png', class: 'index-souvenir-card__top__photo', alt: 'no-image-attached-to-souvenir' %>
      <% end %>
    </div>
    <div class="souvenir-card__bottom">
      <div class="souvenir-card__title">
        <%= @souvenir.title.capitalize.truncate(30) %>
      </div>
      <div class="souvenir-card__description">
        <%= @souvenir.description.truncate(200) %>
      </div>
      <div class="souvenir-card__location d-flex align-items-center">
        <i class="fas fa-map-marker-alt"></i><%= @souvenir.location.capitalize %>
      </div>
    </div>
  </div>
<% end %>
