<div class="container d-flex justify-content-center">
  <div class="souvenir-card-big bg-white animated rotateInUpRight ">
      <div class="souvenir-card__top">
        <% if @souvenir.photo.attached? %>
          <%= cl_image_tag @souvenir.photo.key, class: 'index-souvenir-card__top__photo-big' %>
        <% else %>
          <%= image_tag 'https://www.outokummunseutu.fi/components/com_easyblog/themes/wireframe/images/placeholder-image.png', class: 'index-souvenir-card__top__photo', alt: 'no-image-attached-to-souvenir' %>
        <% end %>
      </div>
      <div class="souvenir-card__bottom">
        <div class="souvenir-card__title">
          <%= @souvenir.title.capitalize %>
        </div>
        <div class="souvenir-card__description">
          <%= @souvenir.description %>
        </div>
        <div class="souvenir-card__auteur">
          <p>Souvenir fait par <strong><%= @souvenir.user.first_name.capitalize %></strong> <br>le <%= I18n.l(@souvenir.created_at, format: :long, locale: :'fr')  %></p>
        </div>
        <div class="souvenir-card__location d-flex align-items-center">
          <i class="fas fa-map-marker-alt"></i><%= @souvenir.location.capitalize %>
        </div>
        <div class="souvenir-card__description">
          <% if @souvenir.user == current_user %>
            <div class="modif-suppr d-flex">
              <%= link_to edit_souvenir_path do %>
                <i class="far fa-edit pr-2"></i>
              <% end %>
              <%= link_to souvenir_path(@souvenir), data: { confirm: 'Êtes-vous sûr de supprimer ce souvenir ?' }, method: :delete do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
